body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#chart1 {
    width: 33%;
    height: 50%;
    float:left;
    background-color: #F7F6F5;
}

#chart2 {
    width: 33%;
    height: 50%;
    float:left;
}

#chart3 {
    width: 33%;
    height: 50%;
    float:left;
}

#chart4 {
    width: 33%;
    height: 50%;
    float:left;
}

#chart5 {
    width: 33%;
    height: 50%;
    float:left;
}

#chart6 {
    width: 33%;
    height: 50%;
    float:left;
}